---
import Layout from '../layouts/Layout.astro';
import BentoGrid from '../components/BentoGrid.astro';

---

<Layout>
	<div class="grid place-items-center overflow-hidden min-h-screen">
		<BentoGrid />
	</div>
</Layout>
