---
---

<div class="grid grid-cols-2 grid-rows-4 w-2/3 bg-black p-2">
    <div class="text-center text-black bg-blue-500 p-16 m-2 rounded">
        <h2>Futbol</h2>
    </div>

    <div class="text-center text-black bg-green-500 row-span-2  p-16 m-2 rounded">
        <h2>Bodas</h2>
    </div>

    <div class="text-center text-black bg-yellow-500 p-16 m-2 rounded">
        <h2>Atletismo</h2>
    </div>

    <div class="text-center text-black bg-pink-500 p-16 m-2 rounded">
        <h2>Artes Marciales</h2>
    </div>

    <div class="text-center text-black bg-red-500 row-span-2 p-16 m-2 rounded">
        <h2>Eventos</h2>
    </div>

    <div class="text-center text-black bg-purple-500 p-16 m-2 rounded">
        <h2>Baloncesto</h2>
    </div>
</div>
